body{
    padding: 1%;
}
.navbar{
    margin: 2% 0 5% ;
    position: fixed;
}
.jumb{
   color: #f0630b; 
}

.active{
    font-weight: bolder;
}

.jumbotron {
    background-image: url('https://www.istockphoto.com/photo/homeless-row-of-dogs-to-adopt-gm1186973591-335114934?phrase=pet%20adoption%20sign');
    background-size: cover;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    text-align: center;
  }
  .card-img-top{
    width: 20%;
  }
  .card{
    width:80%;
  }
  #footer{
    text-align: center;
    height: 50px;
    margin: 2% 0 2% 0 ;
}

.icon{
    color: #000;
    margin-bottom: .5rem;
    padding:10px 10px 0px 10px;
}
.icontwit:hover{
    color:#1DA1F2
    ;
}
.iconface:hover{
    color:#4267B2
    ;
}
.iconinsta:hover{
    color:#FFC0CB
    ;
}
.iconenv:hover{
    color:#F4B400
    ;
}